<mat-toolbar class="nav">
    @if (isHandset$ | async) {
        <button mat-icon-button class="nav__menu-btn" (click)="onToggleSidenav()" aria-label="Menü öffnen">
            <mat-icon class="nav__icon">menu</mat-icon>
        </button>
    } @else {
        <a mat-button class="nav__link" routerLink="/home">
            <mat-icon class="nav__icon">home</mat-icon>
            <span class="nav__caption">Startseite</span>
        </a>

        <a mat-button class="nav__link" routerLink="/gefaesstypen">
            <mat-icon class="nav__icon">inventory_2</mat-icon>
            <span class="nav__caption">Gefäßtypen</span>
        </a>

        <span class="nav__spacer"></span>

        <div class="nav__greeting">Moin, Gast!</div>
        <div class="nav__version">Version: {{ version }}</div>

        <button mat-button class="nav__toggle" (click)="theme.toggle()" [attr.aria-label]="theme.ariaLabel()">
            <mat-icon fontSet="material-icons-outlined" class="nav__icon">
                {{ theme.icon() }}
            </mat-icon>
            <span class="nav__caption">{{ theme.caption() }}</span>
        </button>
    }
</mat-toolbar>
