<mat-nav-list class="sidenav" (click)="onSidenavClose()">
    <!-- menü-->
    <a mat-list-item class="sidenav__link" routerLink="/home">
        <mat-icon class="sidenav__icon">home</mat-icon>
        <span class="sidenav__caption">Startseite</span>
    </a>
    <a mat-list-item class="sidenav__link" routerLink="/gefaesstypen">
        <mat-icon class="sidenav__icon">inventory_2</mat-icon>
        <span class="sidenav__caption">Gefäßtypen</span>
    </a>

    <button
        mat-button
        class="sidenav__toggle"
        (click)="theme.toggle()"
        [attr.aria-label]="theme.isDark() ? 'auf helles Theme umschalten' : 'auf dunkles Theme umschalten'"
        matTooltip="umschalten">
        <mat-icon class="sidenav__icon">{{ theme.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
        <span class="sidenav__caption">{{ theme.isDark() ? 'light theme' : 'dark theme' }}</span>
    </button>

    <div class="sidenav__footer">
        <div class="sidenav__version">V {{ version }}</div>
    </div>
</mat-nav-list>
